body {
    background-color: #004040;
    color: #ffffff;
    font-family: monospace, monospace;
    max-width: 999px;
    margin-left: 20px;
}

a, a:visited { color: #64D449;}
/* 
  a:visited {color: #ddd;} 
  a:active {color: #f00;}
  a:hover {color: #fff; background-color: #508080}
*/

hr { border: 0 none; height: 2px; background-color: #c0c0c0; color: #c0c0c0;}

.title {background-color: #007f7f; padding:2px; color:#fff}
