body {
    background-color: #004040;
    color: #ffffff;
    font-family: monospace, monospace;
    max-width: 1050px;
    margin-left: 40px;
    line-height: 1.1;
}

.sjis {
    font-family: Mona, "MS PGothic", Osaka, Meiryo, monospace, monospace;
}

a, a:visited { color: #64D449;}

hr {
    border: 0 none;
    height: 2px;
    background-color: #c0c0c0;
    color: #c0c0c0;
}

.title {
    background-color: #007f7f;
    padding:2px;
    color:#fff
}

.new-thread {
    line-height: 2;
}
.new-thread > form > input[type="text"] {
    width: 300px;
}

label {
    white-space: nowrap;
}

.threadnav {
    padding: 1em;
    background-color: #006666;
    max-width: 18em;
    position: sticky;
    top: 10%;    
}

details {
    user-select: none;
    border: 2px solid black;
    padding: 1em;
    background-color: #006666;
}

details.tagbox {
    width: 350px;
}

details.replybox {
    width: 40em;
}

details > p {
    border-top: 2px solid white;
    padding-top: 1em;
}

summary {
    cursor: pointer;
    text-decoration: underline;
    color: cyan;
}

.sage {
    font-weight: normal;
    font-style: italic;
}

.trip {
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px dashed;
}
